<!--
  ~ Copyright (c) 2021 Timothy Stone.
  ~
  ~ Permission is hereby granted, free of charge, to any person obtaining a
  ~ copy of this software and associated documentation files (the
  ~ "Software"), to deal in the Software without restriction, including
  ~ without limitation the rights to use, copy, modify, merge, publish,
  ~ distribute, sublicense, and/or sell copies of the Software, and to
  ~ permit persons to whom the Software is furnished to do so, subject to
  ~ the following conditions:
  ~
  ~ The above copyright notice and this permission notice shall be included
  ~ in all copies or substantial portions of the Software.
  ~
  ~ THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS
  ~ OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
  ~ MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.
  ~ IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY
  ~ CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT,
  ~ TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE
  ~ SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
  -->

<!-- turn debug=true on in a logback-test.xml for debugging configs.-->
<configuration debug="false">

    <!--
    Prefer logging to console instead of a File. It's  easy
    to pipe console output to a file and most organizations already
    have a log rotation setup in place. It can also be faster to use this
    approach vs using a FileAppender
    -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are by default assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %c{48} - %msg%n</pattern>
        </encoder>
    </appender>

    <!--
    Async appenders can drastically speed up logging as well as your application's
    response time, but with some potential drawbacks. Read more at.
    https://logback.qos.ch/manual/appenders.html#AsyncAppender and
    http://blog.takipi.com/how-to-instantly-improve-your-java-logging-with-7-logback-tweaks/

    Test configurations in logback-test.xml.
     -->
    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="STDOUT"/>
        <queueSize>1000</queueSize>
    </appender>

    <!--
    Prefer a default setting of WARN and turn on logging explicitly for
    any packages we care about. INFO is also a good choice. Going lower than INFO
    may log sensitive data such as passwords or api tokens via HTTP or networking
    libraries. Remember these defaults impact third party libraries as well.

    Benchmark configurations if needed.
    -->
    <root level="INFO">
        <!--
        If you want async logging just use ref="ASYNC" instead.
        -->
        <appender-ref ref="STDOUT"/>
    </root>

    <!-- Turn on debug logging for our packages -->
    <logger name="com.anothercaffeinatedday" level="DEBUG"/>

    <!--
    Each class can have a configuration.
    -->
    <logger name="org.apache.cxf.services" level="DEBUG"/>

</configuration>
